<crud [componente]='this' permissao='1.10' titulo='Ambiente'>

    <div detalhes>
        <div class='ui-g'>
            <div class='ui-g-12'>
                <div class='row'>
                 
                    <div class="ui-g-12" style="font-size: 14px !important;font-family: sans-serif;">
                        <p-selectButton [options]="dadosStatus" [(ngModel)]="objetoSelecionado.ativo">
                        </p-selectButton>

                    </div>

                    <div class='ui-g-12' *ngIf='objetoSelecionado.id!=undefined && objetoSelecionado.id !=null'>
                        <inputText label='ID' md='1' [(ngModel)]='objetoSelecionado.id'></inputText>
                    </div>

                    <div class="ui-g-12 ui-md-6">
                        <inputText label='Descrição do Ambiente' md='12' [(ngModel)]='objetoSelecionado.nomeAmbiente'>
                        </inputText>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <label>Nº de Mesas</label><br>
                        <input type="text" pInputText [(ngModel)]="objetoSelecionado.quantidadeMesas"
                            style="width:100%" />
                        <p-slider [(ngModel)]="objetoSelecionado.quantidadeMesas" [style]="{'width':'100%'}"></p-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>

</crud>