<crud [componente]="this" [permissao]="" titulo="Fornecedor">
    <div detalhes>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="row">
                    <div class="ui-g-12">
                        <div *ngFor="let item of listaPessoas; let indx = index">
                            <div class="ui-g-6 ui-md-3 ui-lg-2" style="cursor: pointer;">
                                <div style="background-color: #5BB2C5;height: 40px;border-radius: 5px;">
                                    <div style="position: relative;top:10px;left: 10px !important;">
                                        <p-radioButton name="pessoa" [(ngModel)]="objetoSelecionado.pessoa.tipoPessoa" [value]="item.value" [label]="item.label"></p-radioButton>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12" *ngIf="objetoSelecionado.id != null || objetoSelecionado.id != undefined">
                        <inputText id="id" md="1" disabled="true" label="Código" [(ngModel)]="objetoSelecionado.id">
                        </inputText>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        <inputMask id="cpfCnpj" maxlength="19" md="12" class="abc" [label]="objetoSelecionado.pessoa.tipoPessoa == 'FISICA' ? 'CPF': 'CNPJ'" [mask]="objetoSelecionado.pessoa.tipoPessoa == 'FISICA' ? '999.999.999-99': '99.999.999/9999-99'" [(ngModel)]="objetoSelecionado.pessoa.cpfCnpj"
                            [placeholder]="objetoSelecionado.pessoa.tipoPessoa == 'FISICA' ? '___.___.___-__': '__.___.___/____-__'">
                        </inputMask>
                    </div>

                    <div class="ui-g-12 ui-md-5">
                        <inputText id="razaoSocial" maxlength="60" md="12" [label]="objetoSelecionado.pessoa.tipoPessoa == 'FISICA' ? 'Nome da Empresa': 'Razão Social'" [(ngModel)]="objetoSelecionado.pessoa.nomePessoa"></inputText>
                    </div>

                    <div class="ui-g-12 ui-md-5">
                        <inputText id="fantasia" maxlength="60" md="12" label="Fantasia" [(ngModel)]="objetoSelecionado.pessoa.nomeFantasia"></inputText>
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        <inputText id="ieRg" maxlength="12" md="12" [label]="objetoSelecionado.pessoa.tipoPessoa == 'FISICA' ? 'RG': 'Inscrição Estadual'" [(ngModel)]="objetoSelecionado.pessoa.ieRg">
                        </inputText>
                    </div>
                    <div class="ui-g-12 ui-md-5">
                        <inputText id="email" md="12" label="Email" maxlength="100" [(ngModel)]="objetoSelecionado.email">
                        </inputText>
                    </div>

                    <div class="ui-g-12 ui-md-6">

                        <p-table [value]="objetoSelecionado.pessoa.listEndereco" dataKey="id" selectionMode="single" [resizableColumns]="true" [scrollable]="true" scrollHeight="100px" [(selection)]="enderecoSelecionado" [responsive]="false" (onRowSelect)="onRowSelectEndereco($event)"
                            (onRowUnselect)="onRowUnselectEndereco($event)">

                            <ng-template pTemplate="caption">

                                <div style="position: relative;top: -5px;">
                                    <label style="float: left;" class="mt-2"><i class="fa fa-map-marker"></i> Endereço</label>
                                    <button label="Incluir" (click)="adicionarEndereco()" icon="fa fa-plus" pButton></button>
                                    <button label="Editar" (click)="editarEndereco()" icon="fa fa-edit" pButton></button>
                                    <button label="Remover" (click)="removerEndereco()" icon="fa fa-trash" pButton></button>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="text-align: center;width: 80px !important;">Código</th>
                                    <th style="text-align: justify;width: 200px !important;">Logradouro</th>
                                    <th style="text-align: center;width: 80px !important;">cep</th>
                                    <th style="text-align: center;width: 100px !important;">bairro</th>
                                    <th style="text-align: justify;width: 200px !important;">complemento</th>
                                    <th style="text-align: center;width: 80px !important;">numero</th>
                                    <th style="text-align: center;width: 100px !important;">cidade</th>
                                    <th style="text-align: center;width: 80px !important;">estado</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr [pSelectableRow]="item">
                                    <td style="text-align: center;width: 80px !important;">{{item.id}}</td>
                                    <td style="text-align: justify;width: 200px !important;">{{item.logradouro}}</td>
                                    <td style="text-align: center;width: 80px !important;">{{item.cep}}</td>
                                    <td style="text-align: center;width: 100px !important;">{{item.bairro}}</td>
                                    <td style="text-align: justify;width: 200px !important;">{{item.complemento}}</td>
                                    <td style="text-align: center;width: 20px !important;">{{item.numero}}</td>
                                    <td style="text-align: center;width: 100px !important;">{{item.cidade.xmun}}</td>
                                    <td style="text-align: center;width: 100px !important;">{{item.estado.uf}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                    <div class="ui-g-12 ui-md-6">

                        <p-table [value]="objetoSelecionado.pessoa.listTelefone" dataKey="endereco.id" selectionMode="single" [resizableColumns]="true" [scrollable]="true" scrollHeight="100px" [(selection)]="filtroSelecionado" [responsive]="false" (onRowSelect)="onRowSelect($event)"
                            (onRowUnselect)="onRowUnselect($event)">

                            <ng-template pTemplate="caption">

                                <div style="position: relative;top: -5px;">
                                    <label style="float: left;" class="mt-2"><i class="fa fa-phone-square"></i> Telefone</label>
                                    <button label="Incluir" (click)="showDialogToAdd()" icon="fa fa-plus" pButton></button>
                                    <button label="Editar" (click)="listEndereco.acaoEdit()" icon="fa fa-edit" pButton></button>
                                    <button label="Remover" (click)="listEndereco.acaoDelete()" icon="fa fa-trash" pButton></button>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="text-align: center;width: 30px !important;">Código</th>
                                    <th style="text-align: center;width: 45px !important;">Tipo</th>
                                    <th style="text-align: center;width: 10px !important;">Operadora</th>
                                    <th style="text-align: center;width: 30px !important;">Número</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr [pSelectableRow]="item" [title]="item.situacao=='I'?'Promoção Inativa':item.situacao=='A'?'Promoção Ativa':item.situacao=='P'?'Promoção Pendente':'Promoção Rejeitada'" [ngClass]="item.situacao=='I'?'divergent':item.situacao=='A'?'corret':item.situacao=='P'?'incorret':null">

                                    <td style="text-align: center;width: 70px !important;">{{item.codigo}}</td>
                                    <td style="text-align: center;width: 135px !important;">{{item.logradouro}}</td>
                                    <td style="text-align: center;width: 130px !important;">
                                        {{item.datafim|date:'dd/MM/yyyy'}}</td>
                                    <td style="text-align: center;width: 80px !important;">{{item.codscanntech}}</td>
                                    <td style="text-align: justify;width: 240px !important;">{{item.titulo}}</td>
                                    <td style="text-align: justify;width: 240px !important;">{{item.descricao}}</td>
                                    <td style="text-align: center;width: 120px !important;">{{item.tipoDesc}}</td>
                                    <td style="text-align: center;width: 120px !important;">{{item.autor}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

                <p-dialog header="Endereço Fornecedor" [(visible)]="isVisibleEndereco" [modal]="true" [closeOnEscape]="true" [responsive]="true" [minY]="70" [maximizable]="false" [baseZIndex]="10000">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <div class="row">
                                <div class="ui-g-12">
                                    <div *ngFor="let item of statusEndereco; let indx = index">
                                        <div class="ui-g-6 ui-md-3 ui-lg-2" style="cursor: pointer;">
                                            <div style="background-color: #5BB2C5;height: 40px;border-radius: 5px;">
                                                <div style="position: relative;top:10px;left: 10px !important;">
                                                    <p-radioButton name="endereco" [(ngModel)]="enderecoSelecionado.ativo" [value]="item.value" [label]="item.label"></p-radioButton>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6">
                                    <inputText id="fantasia" maxlength="60" [disabled]="!enderecoSelecionado.ativo" md="12" label="Fantasia" [(ngModel)]="objetoSelecionado.pessoa.nomeFantasia">
                                    </inputText>
                                </div>
                                <div class="ui-g-12 ui-md-6">
                                    <inputText id="fantasia" maxlength="60" md="12" label="Fantasia" [(ngModel)]="objetoSelecionado.pessoa.nomeFantasia"></inputText>
                                </div>
                                <p-footer><br>
                                    <button class="mr-1" pButton icon="fa fa-check" label="Confirmar"></button>
                                    <button pButton icon="fa fa-times" label="Cancelar"></button>
                                </p-footer>


                            </div>

                        </div>
                    </div>


                </p-dialog>

            </div>
        </div>


    </div>

</crud>