<crud [componente]='this' permissao='1.11' titulo='Mesa'>

    <div detalhes>


        <div class="ui-g">
            <div class="ui-g-12">
                <div class="row">
                    <div class="ui-g-12" style="font-size: 14px !important;font-family: sans-serif;">
                        <p-selectButton [options]="dadosStatus" [(ngModel)]="mesa.ativo">
                        </p-selectButton>
                    </div>
                    <div class="ui-g-12" *ngIf='mesa.id!=undefined && mesa.id!=null'>
                        <inputText label='ID' disabled="true" md='1' [(ngModel)]='mesa.id'></inputText>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label>Nº da Mesa</label><br>
                        <p-spinner [inputStyle]="{'width':'100%'}" [(ngModel)]="mesa.numeroMesa"></p-spinner>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label>Nº de Pessoas</label><br>
                        <p-spinner [inputStyle]="{width:'100%'}" [(ngModel)]="mesa.quantidadePessoas"></p-spinner>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</crud>