<div class="ui-g dashboard">

    <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6 ">
        <div class="div-bar">
            <p-chart type="bar" height="60vh" [options]="options1"  [data]="data1"></p-chart>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6 ">
        <div class="div-pie">
            <p-chart type="pie" height="60vh" [options]="options2" [data]="data2"></p-chart>
        </div>
    </div>


    <!-- <div class="ui-g-12 ui-lg-6 ui-xl-3">
        <div class="ui-g overview-box overview-box-2">
            <div class="overview-box-icon">
                <i class="fa fa-users"></i>
            </div>
            <div class="overview-box-content">
                <div class="overview-box-title">Cliente(s) Adicionado(s)</div>
                <div class="overview-box-stats">156</div>
                <div class="overview-box-details">-%20 less than last week</div>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-6 ui-xl-3">
        <div class="ui-g overview-box overview-box-1">
            <div class="overview-box-icon">
                <i class="fa fa-file-excel-o"></i>
            </div>
            <div class="overview-box-content">
                <div class="overview-box-title">Arquivo(s) Processado(s)</div>
                <div class="overview-box-stats">25</div>
                <div class="overview-box-details">+%15 more than yesterday</div>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-6 ui-xl-3">
        <div class="ui-g overview-box corret">
            <div class="overview-box-icon">
                <i class="fa fa-check-circle"></i>
            </div>
            <div class="overview-box-content">
                <div class="overview-box-title">Produto(s) Validado(s)</div>
                <div class="overview-box-stats">150</div>
                <div class="overview-box-details">+%50 more than yesterday</div>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-lg-6 ui-xl-3">
        <div class="ui-g overview-box incorret">
            <div class="overview-box-icon">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
            <div class="overview-box-content">
                <div class="overview-box-title">Produto(s) Pendente(s)</div>
                <div class="overview-box-stats">532</div>
                <div class="overview-box-details">+%75 more than yesterday</div>
            </div>
        </div>
    </div> -->


</div>