/* html {
    position: relative;
    min-height: 100%;
} */

body {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0 0 60px;
    /* altura do seu footer */
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 25px;
    background: rgba(0, 0, 0, 0.5);
    text-align: right !important;
}

.inputUser {
    width: 240px !important;
    height: 25px !important;
    /* O padding influencia no tamanho do componente (é como se fosse 20px + 5px da altura) */
    background-image: url(./principal/images/usuario_login.png) !important;
    background-repeat: no-repeat !important;
    /* Para não repetir o background ao longo de topo o componente */
    background-position: right !important;
    background-position-x: 220px !important;
    background-size: 20px !important;
    font-size: 15px !important;
    border-color: #B0B2B4 !important;
    font-family: arial !important;
}

.inputPassword {
    width: 240px !important;
    height: 25px !important;
    /* O padding influencia no tamanho do componente (é como se fosse 20px + 5px da altura) */
    background-image: url(./principal/images/cadeado_login.png) !important;
    background-repeat: no-repeat !important;
    /* Para não repetir o background ao longo de topo o componente */
    background-position: right !important;
    background-position-x: 220px !important;
    background-size: 20px !important;
    font-size: 15px !important;
    border-color: #B0B2B4;
    margin-left: -1px !important;
    font-family: arial !important;
}

.divLoginPrincipal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -175px;
    width: 350px;
    background: rgba(255, 255, 250, 0.90);
    height: 350px;
    border-radius: 5px;
}

.loginImgContent {
    height: 335px !important;
    margin-left: -5px;
    margin-top: -6px;
}

.divLoginValue {
    margin-top: 60px;
}

.outputLogin {
    color: #0067B8;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.outputContaLogin {
    color: #0067B8;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.imgCloseLogin {
    float: right;
    position: relative;
    top: -60px!important;
    cursor: pointer !important;
}